{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container-sm" >
        <h2 class="text-center">Active Listings By Category</h2>
        {% for category in categories %}

                <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'category' category.id %}">{{ category }}</a>
                <br />

        {% endfor %}    
    </div>

    


    <!-- Original single page design.
        {% for category in categories %}
        <h3>{{ category }}</h3>
        {% for listing in listings %}
            {% if listing.category == category %}
            <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
            <br />
            {% endif %}
        {% endfor %}
    {% endfor %} 
    -->

{% endblock %}