{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Listing: {{ listing.title }}</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'wishlist' listing.id %}" method="POST">
            {% csrf_token %}
            {{ user.wishlist.all }}
            {% if listing in user.wishlist.all %}
                <input type="submit" value="Remove From Wishlist" method="POST">
            {% else %}
                <input type="submit" value="Add to Wishlist" method="POST">
            {% endif %}

        </form>
    {% endif %}
    

    


{% endblock %}